#{extends 'main.html' /}
#{set title:'Playdle | Choose Dates' /}
#{set 'moreStyles'}
	<link rel="stylesheet" href="@{'/public/stylesheets/ui-lightness/jquery-ui-1.8.5.custom.css'}" type="text/css" media="screen, projection"/>
#{/set}

#{set 'moreScripts'}
	<script type="text/javascript" src="@{'/public/javascripts/jquery-ui-1.8.5.custom.min.js'}"></script>
	<script type="text/javascript">
		$(function() {
			$( "#datepicker" ).datepicker({
				dateFormat: "yy-mm-dd",
				onSelect: function(dateText, inst) {
					var addDate = #{jsAction @Application.addDate(':id', ':date') /}
					$('#eventDates').load(addDate({id:${event.id}, date:dateText}));
				}
			});	
		});
	</script>
#{/set}

#{if event}
	<ul>
 		<li><label>Date :</label> <span>${event.creationDate.format('dd/MM/yyyy')}</span></li>
 		<li><label>Title :</label> <span>${event.title}</span></li>
 		<li><label>Description :</label> <span>${event.description}</span></li>
 		<li><label>Owner :</label> <a href="mailto:${event.email}">${event.owner}</a></li>
 	</ul>
	<p>
		<label>Date: </label><em>*</em><br/>
		<div id="datepicker"></div>
	</p>
	<p>
		<label>Selected Dates: </label><br/>
		<div id="eventDates">
			<ul>
			#{list items:event.listEventDate, as:'eventDate'}
				<li>${eventDate.date}</li>
			#{/list}
			</ul>
		</div>
	</p>
	<p>
	    <a href="@{Application.validate(event.id)}">Validate</a>
	</p>
#{/if}