#{extends 'main.html' /}
#{set title:'Playdle | All Events' /}

<div class="span-10">
	<h3>All events :</h3>
	#{if events} 
	<section id="events"> 
		<ul>
		#{list items:events, as:'event'}
				<li><a href="@{Application.show(event.id)}">${event.title}</a></li>
		#{/list}
		</ul>
		<span class="current">Page ${current} of ${max}</span>
	    <span class="pages">
	        #{list pages, as:'p'}
	            <a href="@{Application.events(p)}" class="page ${p == current ? 'selected': ''}">${p}</a>
	        #{/list}
	    </span>
	</section>
	#{/if}
	#{else}
		<span>no event</span>
	#{/else}
</div>