#{extends 'main.html' /}
#{set title:'Playdle | Home' /}

<h4>Last created events :</h4>
#{if events} 
	<ul>
	#{list items:events, as:'event'}
			<li>${event.title}</li>
	#{/list}
	</ul>
#{/if}
#{else}
	<span>no event</span>
#{/else}

<h4>New event :</h4>
#{form @Application.create()}
	#{ifErrors}
	    <p class="error">Oops...</p>
	#{/ifErrors}
	<p>
		<label>Title: </label><em>*</em><br/>
		<input type="text" name="event.title" value="${flash['event.title']}"/>
		<span class="error">#{error 'event.title' /}</span>
	</p>
	<p>
		<label>Description: </label><em>*</em><br/>
		<textarea name="event.description">${flash['event.description']}</textarea>
		<span class="error">#{error 'event.description' /}</span>
	</p>
	<p>
		<label>Your name: </label><br/>
		<input type="text" name="event.owner" value="${flash['event.owner']}"/>
		<span class="error">#{error 'event.owner' /}</span>
	</p>
	<p>
		<label>Your email: </label><br/>
		<input type="text" name="event.email" value="${flash['event.email']}"/>
		<span class="error">#{error 'event.email' /}</span>
	</p>
	<p>
	    <input type="submit" value="Create" />
	</p>
#{/form}