#{extends 'main.html' /}
#{set title:'Playdle | Validate Event' /}

#{if event}
<div class="span-10">
	<ul>
 		<li><label>Date :</label> <span>${event.creationDate.format('dd/MM/yyyy')}</span></li>
 		<li><label>Title :</label> <span>${event.title}</span></li>
 		<li><label>Description :</label> <span>${event.description}</span></li>
 		<li><label>Owner :</label> <a href="mailto:${event.email}">${event.owner}</a></li>
 		#{if event.listEventDate}
	 		<li><label>Dates :</label>
				<ul>
					#{list items:event.listEventDate, as:'eventDate'}
					<li><span>${eventDate.date.format('dd/MM/yyyy')}</span></li>
					#{/list}
				</ul>	 
	 		</li>
 		#{/if}
 	</ul>
 	#{form @Application.openEvent(event.id)}
 		<p>
		    <a href="@{Application.date(event.id)}">Add date</a> <input type="submit" value="Open Event" />
		</p>
 	#{/form}
</div>
#{/if}